body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('bgimage.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.form-container {
    padding: 50px;
    display: none;
}

.form-container.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

input {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #6a11cb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #ab1bff;
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}

p {
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        width: 300px;
    }
}
